[
{% for item in githubhooks %}
{
  "id": "{{ item.id }}",
  "execute-command": "{{ item.cmd }}",
  "command-working-directory": "{{ item.cwd }}",
  {% if item.args is defined %}
  "pass-arguments-to-command": [
   {% for arg in item.args %} {
    "source": "{{ arg.source }}",
    "name": "{{ arg.name }}"
   } {% if not loop.last %},{% endif %}
   {% endfor %}
  ], 
  {% endif %}
  "trigger-rule":
  {
    "and":
      [
      {
        "match":
        {
          "type": "payload-hash-sha1",
            "secret": "{{ item.token }}",
            "parameter":
            {
              "source": "header",
              "name": "X-Hub-Signature"
            }
        }
      }{% if item.branch %},
      {
        "match":
        {
          "type": "value",
          "value": "refs/heads/{{ item.branch }}",
          "parameter":
          {
            "source": "payload",
            "name": "ref"
          }
        }
      }
      {% endif %}
    ]
  }
}{% if not loop.last %},{% endif %}
{% endfor %}

{% for item in gitlabhooks %}
{% if loop.first and githubhooks %},{% endif %}
{
  "id": "{{ item.id }}",
  "execute-command": "{{ item.cmd }}",
  "command-working-directory": "{{ item.cwd }}",
  {% if item.args is defined %}
  "pass-arguments-to-command": [
   {% for arg in item.args %} {
    "source": "{{ arg.source }}",
    "name": "{{ arg.name }}"
   } {% if not loop.last %},{% endif %}
   {% endfor %}
  ], 
  {% endif %}
  "trigger-rule":
  {
    "and":
      [
      {
        "match":
        {
          "type": "value",
          "value": "{{ item.token }}",
          "parameter":
          {
            "source": "header",
            "name": "X-Gitlab-Token"
          }
        }
      }{% if item.branch %},
      {
        "match":
        {
          "type": "value",
          "value": "refs/heads/{{ item.branch }}",
          "parameter":
          {
            "source": "payload",
            "name": "ref"
          }
        }
      }
      {% endif %}
    ]
  }
}{% if not loop.last %},{% endif %}
{% endfor %}

{% for item in httphooks %}
{% if loop.first and (githubhooks or gitlabhooks) %},{% endif %}
{
  "id": "{{ item.id }}",
  "execute-command": "{{ item.cmd }}",
  "response-message": "{{ item.responseMsg }}",
  {% if item.args is defined %}
  "pass-arguments-to-command": [
   {% for arg in item.args %} {
    "source": "{{ arg.source }}",
    "name": "{{ arg.name }}"
   } {% if not loop.last %},{% endif %} {% endfor %}
  ], {% endif %}
  "trigger-rule":
  {
    "match":
    {
      "type": "value",
      "value": "{{ item.token }}",
      "parameter":
      {
        "source": "url",
        "name": "token"
      }
    }
  }
}{% if not loop.last %},{% endif %}
{% endfor %}
]
